
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="messageBoard">Message Board</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="messageBoard">Common Message Board</a>
            <a class="nav-item nav-link" href="#">User Post</a>
            <a class="nav-item nav-link" href="#">Setting</a>
            <a class="nav-item nav-link" href="/logout">Log Out</a>
        </div>
    </div>
</nav>
