<h1>Test Input</h1>
<form action="processDBLogin" method="POST">
    Student Name: <br />
    <input type="text" name="stuname"><br />
    Student Number: <br />
    <input type="text" name="snum"><br />
    Final Percentage:<br />
    <input type="number" name="fpercent"><br/>
    Final Grade:<br />
    <input type="text" name="fgrade"><br/>
    <button type="submit" name="buttonVar" value="submit">Submit</button>

</form>